<html >
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {%load static%}
<style>
*{
box-sizing:border-box;
}
.column{
float:left;
width:33.33%;
padding:5px;
}
.row:after{
content:"";
display:table;
clear:both;}
    h5 {
  color:red;
}
       h2 {
  color:blue;
}
</style>
<meta name="viewport" content="width=device-width,intial-scale=1">

</head>
<body>
<center>
<h2><div class="p-1 mb-2 bg-black bg-primary-subtle ">𝓣𝓻𝓮𝓷𝓭𝔂  𝑾𝒂𝒕𝒄𝒉𝒆𝒔 </div> </h2></u>
</center>
<div class="row" >
<div class="column" align="center">
    <a href="https://images.app.goo.gl/YmhjsXUWEtpR5Mdx7"target="_blank"><img src="{%static 'css/w1.jpg'%}" width="370" ></a>
         <h3>Fastrack Limitless Glide</h3 >
        <h4>100+ Sports Modes </h4>
    <h2>₹1,499</h2>
    <h5>Only 5 left in stock..</h5>
</div>
<div class="column" align="center">
    <a href="https://images.app.goo.gl/9uiwWcYuxLKAM2kF9"target="_blank"><img src="{%static 'css/w2.jpeg'%}" width="300"></a>
    <h3>ROLEX</h3>
    <h4>Watches for Men Classic</h4>
    <h2>₹3,777</h2>
    <h5>Save 5% with coupon</h5>
</div>
<div class="column" align="center">
    <a href="https://images.app.goo.gl/fhEotFE9mChnx45t9"target="_blank"><img src="{%static 'css/w4.jpg'%}" width="240"></a>
    <h3>BOAT Xtend Smart Watch</h3>
    <h4>Premium Metallic Build</h4>
    <h2>₹2,299 (85% off)</h2>
    <h5>FREE One-Day Delivery</h5>
</div>
    <div class="column" align="center">
        <a href="https://images.app.goo.gl/LxDr1S7LBNeL4DSz6"target="_blank"><img src="{%static 'css/w5.jpeg'%}" width="300"></a>
        <h3>Fire-Boltt Ninja Call Pro</h3>
        <h4>AI Voice Assistance</h4>
        <h2>₹1,999 (80% off)</h2>
    </div>
    <div class="column" align="center">
        <a href="https://images.app.goo.gl/kSqpH38TGM7Pr7d98"target="_blank"> <img src="{%static 'css/w6.jpg'%}" width="320"></a>
        <h3>Fastrack Limitless Glide</h3 >
        <h4>100+ Sports Modes </h4>
        <h5>₹3,999 (65% off) Save ₹1000</h5>
    </div>
    <div class="column" align="center">
        <a href="https://images.app.goo.gl/16iTjC7iHzzxPziGA"target="_blank"><img src="{%static 'css/w7.jpg'%}" width="340"></a>
        <h3>FORSINING</h3>
        <h2>M.R.P: ₹1,999 (80% off)</h2>
        <h6>Genuine Leather Winner Fashion</h6>
    </div>
    <div class="column" align="center">
        <a href="https://images.app.goo.gl/U4wwkhRNi9D5SgAg6"target="_blank"><img src="{%static 'css/w9.jpeg'%}" width="400"></a>
        <h3>IndoPrimo</h3>
    <h4>Men's Classic Fit Casual watch</h4>
    <h2> ₹2,299 </h2>
    <h5>FREE One-Day Delivery</h5>
    </div>
    <div class="column" align="center">
        <a href="https://images.app.goo.gl/VmMG2cHsGSAJVcFi8"target="_blank"><img src="{%static 'css/w8.jpeg'%}" width="370"></a>
        <h3>MIDDLEAST</h3>
        <h2> ₹10,999</h2>
        <h6>Men's AARSHWET Watch</h6>
        <h5>Best sellar</h5>
    </div>
    <div class="column" align="center">
        <a href="https://images.app.goo.gl/UEJVvdhEBSefctsn7" target="_blank"> <img src="{%static 'css/w3.jpeg'%}" width="290"></a>
        <h3>Rolex Deep Sea</h3>
        <h4>
            Rolex's Submariner Green Beze</h4>
        <h2> ₹9,999</h2>
    </div>
</div>
<div align="right">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/shirts">Previous</a></li>
        <li class="page-item"><a class="page-link" href="/shirts">1</a></li>
        <li class="page-item"><a class="page-link" href="/mobiles">2</a></li>
        <li class="page-item"><a class="page-link" href="/buds">3</a></li>
        <li class="page-item"><a class="page-link" href="/mobiles">Next</a></li>
      </ul>

</div>
</div>
</body>
</html>






